@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div id="logreg-forms" class="shadow">
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <h1 class="h3 mb-3 font-weight-normal text-primary text-center">Sign In</h1>
        <div class="social-login pb-0 mb-0">
            @foreach (var provider in Model.ExternalLogins)
            {
                @if (provider.Name.ToLower().Contains("facebook"))
                {
                    <button type="submit" style="background-color:blue;color:white" class="btn facebook-btn btn-block form-control" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook-square"></i>&nbsp; Login with @provider.DisplayName</button>
                }
                else
                {
                    @if (provider.Name.ToLower().Contains("google"))
                    {
        <button type="submit" style="background-color:lightcoral;color:white" class="btn google-btn btn-block form-control" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-google"></i>&nbsp; Login with @provider.DisplayName</button>
                    }
                    else
                    {
                        if (provider.Name.ToLower().Contains("micro"))
                        {
        <button type="submit" style="background-color:dodgerblue;color:white" class="btn microsoft-btn btn-block form-control" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-windows"></i>&nbsp;Login with @provider.DisplayName</button>
                        }
                    }
                }



            }

        </div>
    </form>
    <form id="account" method="post">
        <p class="text-center"> OR </p>
        <input asp-for="Input.Email" placeholder="Email..." class="form-control mb-1" required autofocus type="email" />
        <input asp-for="Input.Password" placeholder="Password..." class="form-control" required type="password" />
        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp; Sign in</button>
        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary text-white mt-2" id="btn-signup"><i class="fas fa-user-plus"></i>&nbsp; Register as a new user</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
